@font-face {
    font-family: 'EyekPro';
    src: url('EyekPro-Regular.woff2') format('woff2'),
        url('EyekPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

