body {
  background-color: #9B94BA;
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 18vh 1rem;
  text-align: center;
}

a {
  color: #000;

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

.wrapper {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}

main {
  padding : 20px;
  margin: -20px;
}

h1 {
  font-size: 44px;
  text-transform: uppercase;
  font-weight: 800;
  border-bottom: 3px solid black;
  margin-bottom: 0;
}

small {
  font-size: 1rem;
}

h2 {
  text-transform: uppercase;
  font-size: 37px;
  margin-bottom: 0;
}

h3 {
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 0;
}

a.more-info{
  text-transform: uppercase;
  text-align: center;
  display: block;
  text-decoration: none;
  background: #000;
  padding: 1rem;
  color: #9B94BA;

  &:hover {
    color: #fff;
  }
}

p.intro {
  font-size: 1.4rem;
  margin-top: 0;
}

p.outro {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.4rem;
  margin-top: 0;
}

hr {
  border: 0;
  border-bottom: 3px solid black;
  margin: 2rem 0;
}


p, li {
  font-size: 1.2rem;
}

.languages {
  margin-bottom: 10rem;
  margin-top: 10rem;
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
}

.languages ul,
.languages li {
  padding: 0;
  margin: 0;
  text-indent: 0;
  list-style: none;
  display: inline;
}

.languages li {
  display: inline-block;
  margin: 2px 5px;
}

.languages li a{
  font-weight: 600;
}


footer {
  text-transform: lowercase;
  text-align: center;
  margin-top: 10rem;
  font-family: monospace;
}

// From https://codepen.io/clowny3/pen/bpvzNz
// Thanks to https://codepen.io/clowny3
// The bits you want to see
.beat-loader{
  stroke: #000;
  stroke-dasharray: 175;
  stroke-dashoffset: 350;
  animation: draw 1.4s infinite linear;
}

// The animation
@keyframes draw {
  to{
    stroke-dashoffset: 0;
  }
}
